body {
    background: linear-gradient(-45deg,#ffffff, rgb(73, 73, 73));
    background-size: 200% 200%;
    margin-left: 0;
}

.box {
    background-color: white;
    width: 100%;
    height: 100%;
    outline: 1px solid grey;
    outline-offset: -1px;
}

.grid {

    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    background-color: rgb(95, 95, 95);
    margin-left: 20px;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: rgb(252, 59, 69);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border-radius: 40px;
    border: 8px solid rgb(138, 53, 53);
    box-shadow: rgb(100, 48, 27) 5px 5px,rgb(100, 48, 27) 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
}

.header {
    text-align: center;
    margin: 5px;
    color: rgb(238, 238, 53);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000,black 2px 2px, black 5px 5px;
    font-family: 'Cookie', cursive;
    font-style: italic;
    font-weight: 600;
    font-size: 90px;
}

#rainbow {
    background: linear-gradient(
        -45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

#eraser img, #reset img {
    width: 55px;
    height: 55px;
    border-radius: 40px;
    opacity: 0.6;
    margin: auto;
}

.buttons {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   margin-right: 20px;
}


button, #colorpicker {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid rgb(77, 74, 74);
    cursor: pointer;
    box-shadow: rgb(46, 46, 46) 3px 3px,rgb(46, 46, 46) 6px 6px, rgb(46, 46, 46) 9px 9px;
}

i {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Finlandica', sans-serif;
}

input[type=color] {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
}

.slider {
    position: relative;
    width: 220px;
}

#slider {
    margin-bottom: 13px;
    -webkit-appearance: none;
    width: 130px;
    height: 13px;
    border-radius: 7px;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: rgb(138, 53, 53);
}

#slider:hover {
    opacity: 1;
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 12px;
    background-color: white;
    border: solid 3px #360000;
    box-shadow: rgb(66, 40, 0) 1px 1px 3px 0;
}

label {
    font-family: 'Finlandica', sans-serif;
    font-weight: 700;
    font-size: 20px;  
    color: rgb(46, 46, 46);
    width: 30px;
}

#pickcolor label {
    margin-left: 10px;
}

.clickbutton {
    box-shadow: rgb(46, 46, 46) 3px 3px;
    top: 6px;
    left: 6px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(167, 167, 167);
    border-top: 3px solid rgb(46, 46, 46);
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 30px;
    font-family: 'Finlandica', sans-serif;
}

.footer a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-family:  'Finlandica', sans-serif;
}

.footer img{
    width: 15px;
    height: 15px;
}